.pnp.*
*.log
*.md
.github/*
.idea/*
.vscode/*
.yarn/*
test/*
src/*
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.prettierignore
.node_modules/*
.prettierrc
.yarnrc.yml
tsconfig.json
*.map
assets/*
